
    .flex{
        display: flex;
    }

    body{
        margin:0;
        background-color: rgba(250, 253, 202, 0.833);
    }

    .box1{
        flex:4;
        background-color: rgba(193, 164, 95, 0.888);
        margin: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .box2{
        flex:3;
        background-color: rgb(233, 234, 179);
        margin: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col{
        flex-direction: column;
    }

    .hese{
        background-color:rgb(161, 110, 75);
    }

    .mg8{
        margin: 8px;
    }
    /*
    *{
        border: 1px solid rgb(0, 0, 0);
    }
        */
    .bg{
        background-color: rgb(203, 170, 108);
    }

    .textstyle{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-style: italic;
        color: rgb(62, 38, 4);
        font-weight: bold;
    }

    .ts2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(62, 38, 4);
    }

    .ts2color{
        color: rgb(62, 38, 4);
    }

    .ts3{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: rgb(62, 38, 4);
    }

    .flex1{
        flex: 1;
    }

    .center{
        justify-content: center;
        align-items: center;
    }

/* 改变布局适应手机宽度 */
    @media (max-width: 600px){
    .changetocol{
        flex-direction: column;
    }
    .changetocolr{
        flex-direction:column-reverse;
    }

    .del{
        display: none;
    }

    .Pflex4{
        flex:4
    }


    }



